/** Add css rules here for your application. */


#content {
	width: 1200px;
	margin: 0 auto;
}

#menuButton {
	text-decoration: none;
	color: black;
	
}

#OuterTabel, #Tabellenstruktur {
	width: 100%;
}
